*{
    text-align: center;
    overflow-x: hidden;
}

.main{
    width: 100vw;
    height: 100vh;
}

#levelOne{
    background-color: lightblue;
}

#levelTwo{
    background-color: lightgreen;
}

#levelThree{
    background-color: lightyellow;
}