*{
    /* box-sizing: border-box; */
}



body{
    overflow-x: hidden;
}




#levelOne .button-container{
    background: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: absolute;
}

#levelOne .container .button-container button{
    background-color: red;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}

.button-container button:hover{
    cursor: pointer;
}

#levelTwo{
    background-color: white;
    color: black;
}

#levelTwo #textContainer{
    overflow-x: hidden;
    background-color: white;
    border-radius: 5%;
    overflow-y: scroll;
    font-size: 2vw;

    
}

#levelTwo #textContainer p{
    word-break: break-all;
    word-wrap: break-word;
    overflow-wrap: break-word;

}

#levelTwo #textContainer::-webkit-scrollbar{
    display: none;
}

#textContainer p:hover{
    font-size: 3vw;
    overflow-wrap: break-word;
    word-break: break-all;
    word-wrap: break-word;
    font-weight: bold;
}


#levelThree{
    background-color: white;
}


#levelThree .van-img{
    width: 10vw;
    height: auto;
    margin-left: 5vw;
    margin-top: 46%;
    overflow: hidden;
    z-index: 10;
}

#levelThree .city{
    height: 100vh;
    width: 100vw;
    opacity: 1;
}

#levelThree .one{
    background-size: contain;
    background-repeat: no-repeat;
}


#levelThree .three{

    background-size: contain;
    background-repeat: no-repeat;

}

#levelThree .two{

    background-size: contain;
    background-repeat: no-repeat;
}

#levelThree .four{

    background-size: contain;
    background-repeat: no-repeat;
    z-index: 1;

}

/* background layers */

#levelThree .parallax-bg-1{
    background-image: url(./img/parallax_asset/Backgrounds/bg_layer_1.png);
    display: flex;
    width: 700%;
    height: 100vh;
    position: absolute;
    z-index: -3;
}

#levelThree .parallax-bg-2{
    background-image: url(./img/parallax_asset/Backgrounds/bg_layer_2.png);
    display: flex;
    width: 700%;
    height: 100vh;
    position: absolute;
    z-index: -4;
}

/* cloudlayer (screenwide) */

#levelThree #cloudLayer{
    display: block;
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 3;
}

#levelThree #cloudLayer img{
    position: absolute;
    height: auto;
    width: 50vw;
    z-index: 3;
}



/* level 1 communitybase layers */

#levelThree #communitybase-0{
    background-image: url(./img/parallax_asset/grond-layer.png);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 5;
}

#levelThree #communitybase-1{
    background-image: url(./img/parallax_asset/Sheet1/layer-1.png);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 4;
}

/* #levelThree #communitybase-2{
    background-image: url(./img/parallax_asset/Sheet1/layer-2.png);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
} */

/* level 2 competenties layers */

#levelThree #competenties-0{
    background-image: url(./img/parallax_asset/grond-layer.png);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 5;
}

#levelThree #competenties-1{
    background-image: url(./img/parallax_asset/Sheet2/S2_layer-1.png);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 3;
}
/* 
#levelThree #competenties-2{
    
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
} */

.canvas {
    z-index: -1;
    position: absolute;
    background-color: black;
    
}

#container{
    overscroll-behavior: none;
    width: 600%;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
}


  

