*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Montserrat', sans-serif;
    border: 1px red solid;
}


body{
    overflow-x: hidden;
}

.main{
    width: 100vw;
    height: 100vh;
}

#levelOne {
    height: 100vh;
    width: 100vw;
}

.container{
    height: 100vh;
    width: 100vw;

}

#levelOne .container .button-container{
    background: white;
    border-radius: 1vh;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    height: 40vh;
    width: 20vw;
    position: absolute;
    margin-left: 70vw;
    margin-top: 40vh;
}

#levelOne .container .img-container{
    height: 70vh;
    width: 90vw;
    margin: 15vh auto 0 auto;
    background: green;
    background-image: url('./img/bg.jpg') ;
    background-size: cover;
    background-repeat: no-repeat;
}


#levelOne .container .button-container button{
    margin-left: 3vw; 
    margin-top: 10vh;
    background-color: red;
    border: none;
    color: white;
    padding: 4vh 3vw;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 1vh;
}

.button-container button:hover{
    cursor: pointer;
}







#levelTwo{
    background-color: lightgreen;
}

#levelThree .levelThree-bg{
    height: 80vh;
    width: 90vw;
    background: gray;
    margin: 0 auto;
    border-radius: 15px;
    margin-top: 3vh;
}

#levelThree .van-img{
    width: 5vw;
    margin-left: 1vw;
    margin-top:70vh;
    overflow: hidden;

}

#levelTwo #textContainer{
    text-align: center;
    width: 30vw;
    height: 80vh;
    background-color: white;
    margin: 10vh 10% 20% 10%;
    border-radius: 5%;
    overflow: hidden;
    font-size: 4vh;
}

#textContainer p:hover{
    font-size: 7vh;
    overflow-wrap: break-word;
}


#levelThree{
    background-color: lightyellow;
}

